{:for-humans/migrations   {:connection-uri #ref [:sky-deck/connection-uri]
                           :migrations     "migrations"}
 :sky-deck/connection-uri "jdbc:postgresql://localhost/sky_deck_development"
 :sky-deck/db             {:dbname "sky_deck_development"
                           :dbtype "postgresql"}
 :sky-deck/graphql        {}
 :sky-deck/http-server    {:port            "5001"
                           :sky-deck/routes #ig/ref :sky-deck/routes}
 :sky-deck/routes         {:graphql     #ig/ref :sky-deck/graphql
                           :sky-deck/db #ig/ref :sky-deck/db}}
